.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #9cc1e7; 
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-container button {
  padding: 10px 20px;
  background-color: #3787dd; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; 
}

.task-item span {
  flex: 1;
}

.task-item button {
  padding: 8px 15px;
  background-color: #dc3545; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
